<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/quangle/IdeaProjects/WeatherSelenium"><classes><class name="test.SureFireReportTest"><methods><include name="shouldBePassToTestSureFireReportOnly"/><include name="shouldBeFailedToTestSureFireReportOnly"/></methods></class><class name="test.TenDayPageTest"><methods><include name="verifyAndGetInformationOfTenDayWeather"/><include name="shouldBePassToTestSureFireReportOnly"/><include name="shouldBeFailedToTestSureFireReportOnly"/></methods></class></classes></test></suite>